<section class="section">
  <div class="title is-2">
  <h2>Create New Event</h2>
  </div>
  <form class="event-post-form">
    <div>
      <label class="label is-size-5" for="event-title">Title</label>
      <input class="input text is-normal is-info" type="text" required id="event-title" placeholder="Please enter the event title" name="event-title" />
    </div>
    <div>
      <label class="label is-size-5" for="event-date">Date</label>
      <input class="input text is-normal is-info" type="date" required id="event-date" name="event-date" />
    </div>
     <div>
      <label class="label is-size-5" for="event-description">Description</label>
      <input class="input text is-normal is-info" id="event-description" placeholder="Please enter the description" name="event-description"/>
    </div>
    <div class="pt-2">
      <button class="button is-info has-text-white" type="submit">Create</button>
    </div>
    <div>
      <label class="label is-size-5" for="planner-name">Name of This Event's Planner</label>
      <input class="input text is-normal is-info" id="planner-name" name="planner-name"/>
    </div>
    <div class="pt-2">
    <button class="button is-info has-text-white" type="submit">Create</button>
    </div>
  </form>
</section>

{{!-- Posts all the events by the user --}}
{{#if event.length}}
<section>
  <h2>Your Events</h2>
  <ol>
    {{#each event as |event|}}
    <li>
      {{> event-info event}}
      <a href="/dashboard/edit/{{event.id}}" class="edit-link">Edit event</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}



<script src="/javascript/add-event.js"></script>