<section>
  <h2>Create New Event</h2>

  <form class="event-post-form">
    <div>
      <label for="event-title">Title</label>
      <input type="text" id="event-title" name="event-title" />
    </div>
    <div>
      <label for="event-date">Date</label>
      <input id="event-date" name="event-date" />
    </div>
     <div>
      <label for="event-description">Description</label>
      <input id="event-description" name="event-description"/>
    </div>
    <div>
      <label for"planner-name">Name of This Event's Planner</label>
      <input id="planner-name" name="planner-name"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- Posts all the events by the user --}}
{{#if event.length}}
<section>
  <h2>Your Events</h2>
  <ol>
    {{#each event as |event|}}
    <li>
      {{> event-info event}}
      <a href="/dashboard/edit/{{event.id}}" class="edit-link">Edit event</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}



<script src="/javascript/add-event.js"></script>