<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Event
  </h2>
  <form class="edit-event-form">
    <div>
      <input name="event-title" type="text" value="{{event.title}}" />
      <span>({{event.date}})</span>
      <span>({{event.description}})</span>
    </div>
    <div>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-event-btn">Delete Event</button>
  </form>
</article>