<div class="container has-text-centered title is-size-3 pb-4">
    Welcome to Save The Date

    <div class="box">
        <figure class="image">
            <img  src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/calendar-icon.png" alt="calender icon">
        </figure>
    </div>
</div>