<form class="container p-3 login-form">
  <div class="control">
    <label class="label is-size-5" for="username-login">Username:</label>
    <input class="input text is-normal is-info" type="text" required  id="username-login" placeholder="Please enter your username" />
  </div>
  <div class="control pt-1">
    <label class="label is-size-5" for="password-login">Password:</label>
    <input class="input password is-normal is-info" type="password" required id="password-login"placeholder="Please enter your password" />
  </div>
  <div class="pt-2">
    <button class="button px-3 py-1 is-info has-text-white" type="submit">Login</button>
  </div>
</form>

<form class="container p-3 signup-form">
  <div class="control pt-1">
    <label class="label is-size-5" for="username-signup">Username:</label>
    <input class="input is-normal is-info" type="text" required id="username-signup" placeholder="Please enter a username"/>
  </div>
  <div class="control pt-1">
    <label class="label is-size-5" for="email-signup">Email:</label>
    <input class="input is-normal is-info" type="text" required id="email-signup" placeholder="Please enter an email"/>
  </div>
  <div class="control pt-1">
    <label class="label is-size-5" for="password-signup">Password:</label>
    <input class="input is-normal is-info" type="password" required id="password-signup" placeholder="Please enter a password"/>
  </div>
  <div class="pt-2">
    <button class="button px-3 py-1 is-info has-text-white" type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>